[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx-click = "*"
click = "*"
stdeb = "*"

[packages]
tqdm = "*"
requests = "*"
colorama = "*"

[requires]
python_version = "3.6"
